In [1]:
import pandas as pd

import re

In [ ]:
from natasha import AddressExtractor

In [ ]:
from natasha.markup import (
    show_markup_notebook as show_markup,
    format_json, show_json
)

In [5]:
stom_work = pd.read_excel('C:/00_Data/stomatologics/Реестр РосЗдравНадзора/stom_lic_rf_2021_08_22.xlsx',
                          sheet_name='data')

In [6]:
print(stom_work.columns.to_list())

['name', 'activity_type', 'full_name_licensee', 'abbreviated_name_licensee', 'brand_name_licensee', 'form', 'address_region', 'address', 'ogrn', 'inn', 'address_number', 'address_nn', 'sub_address', 'sub_index', 'sub_region', 'sub_city', 'sub_street', 'sub_code_fias', 'work_types', 'number', 'date', 'number_orders', 'date_order', 'date_register', 'number_duplicate', 'date_duplicate', 'termination', 'date_termination', 'information', 'information_regulations', 'information_suspension_resumption', 'information_cancellation', 'information_reissuing', 'date_reissuing']

In [7]:
stom_work.termination.value_counts()

Series([], Name: termination, dtype: int64)

In [8]:
# пустые значения

stom_work.isnull().sum()

name                                    12
activity_type                            0
full_name_licensee                       0
abbreviated_name_licensee             6746
brand_name_licensee                  45002
form                                   181
address_region                        5999
address                               6287
ogrn                                     0
inn                                      0
address_number                           0
address_nn                               0
sub_address                              0
sub_index                                2
sub_region                               2
sub_city                              3346
sub_street                             660
sub_code_fias                         1080
work_types                               0
number                                   0
date                                     0
number_orders                        11085
date_order                           11066
date_register                            0
number_duplicate                     57790
date_duplicate                       57790
termination                          57790
date_termination                     57790
information                          57790
information_regulations              57790
information_suspension_resumption    57786
information_cancellation             57773
information_reissuing                57790
date_reissuing                       48203
dtype: int64

In [9]:
# всего клиник

stom_work.shape[0]

57790

In [10]:
stom_work.sample(3)

,name,activity_type,full_name_licensee,abbreviated_name_licensee,brand_name_licensee,form,address_region,address,ogrn,inn,...,number_duplicate,date_duplicate,termination,date_termination,information,information_regulations,information_suspension_resumption,information_cancellation,information_reissuing,date_reissuing
2413,Министерство здравоохранения Краснодарского края,Медицинская деятельность,Общество с ограниченной ответственностью «Сана...,ООО «Санат ФитоДент»,Общество с ограниченной ответственностью «Сана...,Общество с ограниченной ответственностью,Краснодарский край,"353910, Россия, Краснодарский край, городской ...",1092315006849,2315157288,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.07.2021
29772,Министерство здравоохранения Краснодарского края,Медицинская деятельность,"Общество с ограниченной ответственностью ""Стом...",ООО «СЦ СТОМАКС»,"Общество с ограниченной ответственностью ""Стом...",Общество с ограниченной ответственностью,Оренбургская область,"462429, Россия, Оренбургская область, г. Орск,...",1055614068180,5614022037,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42299,Министерство здравоохранения Краснодарского края,Медицинская деятельность,Общество с ограниченной ответственностью «Дент...,ООО «Денталика»,Общество с ограниченной ответственностью «Дент...,Общество с ограниченной ответственностью,Краснодарский край,"350015, Краснодарский край, г. Краснодар, Цент...",1082310017239,2310133646,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# всего юридических лиц

stom_work[stom_work['address_nn'] == 1].shape

(36616, 34)

In [12]:
# уникальных ИНН

stom_work['inn'].nunique()

37875

In [13]:
# уникальных ОГРН

stom_work['ogrn'].nunique()

37869

In [14]:
# уникальных адресов

stom_work['sub_address'].nunique()

55935

In [15]:
# считаю количество по типу организации

form_work = (
    stom_work['form']
    .value_counts()
    .reset_index()
    .rename(columns={'form': 'number', 'index': 'form'})
)

In [16]:
# считаю количество уникальных типов организаций

form_work_unique = (
    stom_work[stom_work.address_nn == 1]
    .form
    .value_counts()
    .reset_index()
    .rename(columns={'form': 'number_unique', 'index': 'form'})
)

In [22]:
# объединяю датафреймы

form_work = form_work.merge(form_work_unique, how='left', on='form')

In [23]:
# заполняю пустые значения во втором столбце

form_work['number_unique'].fillna(0, inplace=True)

In [24]:
# меняю типы данных, float dj втором столбце появился из-за Nan

form_work = form_work.astype({'number': 'int32', 'number_unique': 'int32'})

In [19]:
# считаю количество уникальных типов организаций

(
    stom_work.groupby('sub_city', as_index=False)
    .agg({'sub_address': 'count'})
).to_excel('C:/00_Data/03_stom/temp.xlsx', index=False)

### Считаю виды стоматологических услуг ###

In [ ]:
# список с услугами

work_types = list(set(stom_work['work_types']))

In [ ]:
len(work_types)

In [ ]:
# уникальных

work_types_unique = []

for i in work_types:
    work_types_unique += i.split(',')

In [ ]:
work_types_unique = list(set(work_types_unique))

In [ ]:
len(work_types_unique)

In [ ]:
# выделяю стом.услуги, пока в "грязном" виде, чтобы корректно посчитать вхождения

stom_types = []

for stom in work_types_unique:
    if 'стоматолог' in stom or 'ортодонт' in stom:
        new = stom.replace(']', '')
        stom_types += [new.strip()]

In [ ]:
stom_types = list(set(stom_types))

In [ ]:
len(stom_types)

In [ ]:
stom_types

In [ ]:
# функция для выделения стоматологических услуг

def find_stom_works(df):
    found = []
    
    for item in stom_types:
        if item in str(df.work_types):
            item = re.sub(r'[^\w\s]+', '', item) # убираю лишние символы: точки и скобки
            item = re.sub(r'[0-9]+', '', item).strip() # убираю цифры и пробелы по краям
            item = (item
                    .replace('стоматологии ', 'стоматология ') # меняю вручную, лемматизаторы работают дольше
                    .replace('терапевтической', 'терапевтическая')
                    .replace('детской', 'детская')
                    .replace('гигиене', 'гигиена')
                    .replace('ортодонтии', 'ортодонтия')
                    .replace('ортопедической', 'ортопедическая')
                    .replace('профилактической', 'профилактическая')
                    .replace('хирургической', 'хирургическая')
                   )
            if item == 'стоматологии':
                item = 'стоматология'

            found += [item]

    return list(set(found))

In [ ]:
%%time

# добавляю стобец с видами стоматологических работ

stom_work['stom_works'] = stom_work.apply(find_stom_works, axis=1)

In [ ]:
# список уникальных работ

stom_list = []

for i in stom_work['stom_works'].to_list():
    stom_list += i

In [ ]:
stom_list = list(set(stom_list))

In [ ]:
len(stom_list)

In [ ]:
stom_list

In [ ]:
# функция для подсчета частотностей видов стом.работ, аргумент — название датафрейма

def count_stom_works(df):
    stom_list_dict = {} # делаю словарь для подсчета вхождений
    
    for i in stom_list: # заполняю нулями
        stom_list_dict[i] = 0
        
    
    for item in df['stom_works']: # считаю вхождения
        for i in stom_list:
            if i in item:
                stom_list_dict[i] = stom_list_dict[i] + 1
                
    return stom_list_dict

In [ ]:
# считаю вхождения

stom_list_dict = count_stom_works(stom_work)

In [ ]:
# делаю датафрейм из словаря

stom_work_number = (pd.Series(stom_list_dict)
                    .reset_index()
                    .rename(columns={'index':'stom', 0:'number_all'})
                    .sort_values(by='number_all', ascending=False)
                   )

In [ ]:
# считаю долю

stom_work_number['percent_all'] = round(stom_work_number['number_all'] / stom_work.shape[0], 2) * 100

In [ ]:
stom_work_number

### Считаю частные клиники и кабинеты ###

In [34]:
stom_work.shape

(57790, 34)

In [35]:
private_stom_work = stom_work[(
    (stom_work['form'].str.contains('общество с ограниченной ответственностью', case=False)) |
    (stom_work['form'].str.contains('индивидуальный предприниматель', case=False)) |
    #(stom_work['form'].str.contains('акционерное общество', case=False)) |
    (stom_work['form'].str.contains('товарищество на вере', case=False))
)]

In [36]:
private_stom_work.shape

(35591, 34)

In [37]:
# уникальных ООО и ИП

private_stom_work[private_stom_work['address_nn'] == 1].shape

(30931, 34)

In [38]:
# акционерных обществ, всего адресов

stom_work.form.fillna('none', inplace=True)
stom_work[(stom_work['form'].str.contains('акционерное общество', case=False))].shape

(954, 34)

In [39]:
# акционерных обществ, уникальных

stom_work[(
    (stom_work['form'].str.contains('акционерное общество', case=False)) &
    (stom_work['address_nn'] == 1)
)].shape

(638, 34)

In [40]:
private_stom_work.sample()

,name,activity_type,full_name_licensee,abbreviated_name_licensee,brand_name_licensee,form,address_region,address,ogrn,inn,...,number_duplicate,date_duplicate,termination,date_termination,information,information_regulations,information_suspension_resumption,information_cancellation,information_reissuing,date_reissuing
37895,Министерство здравоохранения Красноярского края,Медицинская деятельность,Общество с ограниченной ответственностью «Граф»,ООО «Граф»,NaN,Общество с ограниченной ответственностью,Красноярский край,"660077, Россия, Красноярский край, г. Краснояр...",1102468043061,2465242084,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Считаю виды стоматологических услуг для ООО и ИП

In [41]:
stom_list_dict_private = count_stom_works(private_stom_work)

NameError: name 'count_stom_works' is not defined

In [ ]:
# кладу словарь в датафрейм

stom_work_number_private = (pd.Series(stom_list_dict_private)
                    .reset_index()
                    .rename(columns={'index':'stom', 0:'number_private'})
                   )

In [ ]:
# присоединяю к основному датафрейму

stom_work_number = stom_work_number.merge(stom_work_number_private, how='left', on='stom')

In [ ]:
# считаю долю для ООО и ИП

stom_work_number['percent_private'] = round(stom_work_number['number_private'] / stom_work.shape[0], 2) * 100

In [ ]:
stom_work_number.sort_values(by='percent_private', ascending=False, inplace=True)

In [ ]:
stom_work_number

### Регионы ###

In [42]:
private_stom_work.sample()

,name,activity_type,full_name_licensee,abbreviated_name_licensee,brand_name_licensee,form,address_region,address,ogrn,inn,...,number_duplicate,date_duplicate,termination,date_termination,information,information_regulations,information_suspension_resumption,information_cancellation,information_reissuing,date_reissuing
16277,Министерство здравоохранения Кабардино-Балкарс...,Медицинская деятельность,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЛАЙФ...","ООО ""ЛАЙФ-ДЕНТ""",NaN,Общество с ограниченной ответственностью,Кабардино-Балкарская Республика,"360004, Россия, Кабардино-Балкарская Республик...",1170726003414,725022523,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
print(private_stom_work.columns.to_list())

['name', 'activity_type', 'full_name_licensee', 'abbreviated_name_licensee', 'brand_name_licensee', 'form', 'address_region', 'address', 'ogrn', 'inn', 'address_number', 'address_nn', 'sub_address', 'sub_index', 'sub_region', 'sub_city', 'sub_street', 'sub_code_fias', 'work_types', 'number', 'date', 'number_orders', 'date_order', 'date_register', 'number_duplicate', 'date_duplicate', 'termination', 'date_termination', 'information', 'information_regulations', 'information_suspension_resumption', 'information_cancellation', 'information_reissuing', 'date_reissuing']

In [44]:
clinic_region = (stom_work
 .groupby('sub_region', as_index=False)
 .agg({'inn': 'count'})
 .rename(columns={'sub_region': 'region', 'inn': 'clinic_number_all'})
 .sort_values(by='clinic_number_all', ascending=False)
                )

In [45]:
clinic_region

                        region  clinic_number_all
30                      Москва               5644
31          Московская область               3153
23          Краснодарский край               3022
64             Санкт-Петербург               2551
61          Ростовская область               1695
..                         ...                ...
29         Магаданская область                 75
59             Республика Тыва                 73
33   Ненецкий автономный округ                 39
83  Чукотский автономный округ                 22
4                     Байконур                  6

[86 rows x 2 columns]

In [46]:
clinic_region_private = (private_stom_work
 .groupby('sub_region', as_index=False)
 .agg({'inn': 'count'})
 .rename(columns={'sub_region': 'region', 'inn': 'clinic_number_private'})
 .sort_values(by='clinic_number_private', ascending=False)
)

In [47]:
clinic_region = clinic_region.merge(clinic_region_private, how='left', on='region')

In [50]:
regions = pd.read_excel('C:/00_Data/datasets/regions_2020.xlsx')

In [51]:
clinic_region = clinic_region.merge(regions, how='left', on='region')

In [52]:
clinic_region

,region,clinic_number_all,clinic_number_private,population,square
0,Москва,5644,4040,12655050,2.60
1,Московская область,3153,2214,7708499,44.30
2,Краснодарский край,3022,2200,5683947,75.50
3,Санкт-Петербург,2551,2103,5384342,1.40
4,Ростовская область,1695,1053,4181486,101.00
...,...,...,...,...,...
81,Магаданская область,75,38,139034,462.50
82,Республика Тыва,73,32,330368,168.60
83,Ненецкий автономный округ,39,17,44389,176.80
84,Чукотский автономный округ,22,3,49527,721.50
85,Байконур,6,2,77169,0.54

In [53]:
clinic_region.to_excel('C:/00_Data/clinic_temp.xlsx', index=False)

In [ ]:
stom_work.sample(3)

In [ ]:
stom_work.temp.value_counts()

In [ ]:
# всего негосударственных клиник


unique_stom_work = stom_work[stom_work['address_nn'] == 1]

unique_stom_work[~(
    (unique_stom_work['full_name_licensee'].str.contains('государствен', case=False)) &
    (unique_stom_work['full_name_licensee'].str.contains('бюджет', case=False)
    )
)].shape[0]

In [ ]:
stom_work.to_excel('C:/Data/Стоматологии/temp.xlsx', index=False)